@charset "UTF-8";
body {
    height: 800px;
    background-color: white;
    width: 100%;
}

p {
    text-align: center;
}

h1 {
    margin: auto;
}

.change {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

label {
    margin-left: 10%;
}

.change input {
    width: 80%;
    height: 40px;
    border: 1px black solid;
    margin-left: 10%;
    border-radius: 10px;
}

.change {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.change input {
    width: 80%;
    margin-left: 10%;
}

input {
    width: 80%;
    height: 40px;
    border: 8px black;
    margin-left: 10%;
}

input::placeholder {
    font-size: 1.0em;
    font-style: italic;
}

select {
    margin-left: 10%;
}

.square_btn {
    margin: auto;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4% #627295;
    border-radius: 3%;
}

.square_btn:active {
    /*ボタンを押したとき*/
    -ms-transform: translateY(4%);
    -webkit-transform: translateY(4%);
    transform: translateY(4%);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

.sq_btn {
    text-align: center;
}

.sq_btn input {
    margin-bottom: 10%;
    width: 30%;
}